* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(rgb(79, 248, 197), rgb(255, 18, 69));
    background-repeat: no-repeat;
    height: 100%;
}

div {
    border-radius: 30px;
    padding: 20px;
    width: 80%;
    margin: 0px auto 40px auto;
    /*border-style: solid;
    border-width: 1px;
    border-color: aliceblue;*/
}

.grad {
    height: 200px;
    background-image: linear-gradient(to right, rgb(242, 243, 192), green);
}

.grad2 {
    height: 200px;
    background-image: linear-gradient(to bottom right, rgb(212, 0, 166), rgb(87, 224, 224));
}

.grad3 {
    height: 200px;
    background-image: linear-gradient(120deg,rgb(79, 253, 244), rgb(255, 159, 14));
  }

.grad4 {
    height: 200px;
    background-image: linear-gradient(rgb(255, 255, 255), blue, red)
}

.grad5 {
    height: 200px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.grad6 {
    height: 200px;
    background-image: linear-gradient(black, red, yellow)
}

.grad7 {
    height: 200px;
    background-image: radial-gradient(red, grey, black)
}

.grad8 {
    margin: 10px 20px 0px 82%;
    position: fixed;
    height: 400px;
    width: 400px;
    background-image: conic-gradient(red, yellow, green, blue, black);
    border-radius: 50%;
    animation: rotation 6s infinite linear;
    z-index: 5;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.grad8 p {
    padding-top: 50%;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.grad9 {
    margin: 38% 82% 0px 20px;
    position: fixed;
    height: 300px;
    width: 300px;
    background-image: repeating-conic-gradient(rgb(255, 238, 0) 0deg 10deg, rgb(255, 0, 0) 10deg 20deg, rgb(0, 217, 255) 20deg 30deg, rgb(118, 69, 253) 30deg 40deg, rgb(253, 13, 241) 40deg 50deg, rgb(0, 255, 34) 50deg 60deg);
    border-radius: 50%;
    animation: rotation 2s infinite linear;
    z-index: -1;
}

.anim {
    float:right;
    margin-right: 50%;
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 10;

}

 
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:400px; top:0px;}
    50%  {background-color:blue; left:400px; top:1000px;}
    75%  {background-color:green; left:0px; top:1000px;}
    100% {background-color:red; left:0px; top:0px;}
}

.anim2 {
    width: 200px;
    height: 30px;
    background-image: linear-gradient(to right, red, yellow, blue);
    font-weight: bold;
    position: relative;
    animation: mymove 4s infinite;
    border-radius: 10px 100% 100% 10px;
    z-index: 5;
  }
  
  #div1 {animation-timing-function: linear; position: fixed;}
  #div2 {animation-timing-function: ease; position: fixed; margin-top: 80px;}
  #div3 {animation-timing-function: ease-in; position: fixed; margin-top: 160px;}
  #div4 {animation-timing-function: ease-out; position: fixed; margin-top: 240px;}
  #div5 {animation-timing-function: ease-in-out; position: fixed; margin-top: 320px;}

@keyframes mymove {
from {left: -500px;}
to {left: 3000px;}
}

h1 {
    color:aquamarine;
    font-family:cursive;
}

#cover-image {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 20;
    border-radius: 0px;
    animation: fadeOut 5s; 
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% { opacity: 0; }
    0% { opacity: 1; }
    to {visibility: hidden;}
  }


.anim3 {
    width: 30%;
    height: 100px;
    background-image: linear-gradient(white, rgb(0, 255, 221), blue);
    animation: animax 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animax {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(2);
        margin-bottom: 100px;
        margin-top: 100px;
    }
  }


@media screen and (max-width: 900px) {
p {
    font-size: 16px;
}
}
@media screen and (max-width: 600px) {
p {
    font-size: 10px;
}
}